<section class="about container">
  <h1 class="text-center mb-5">About</h1>
  <div class="container">
    <img src="../../assets/edit-sendiri-696x557.jpg" width="100%" height="80%"
         alt="lostvayne" class="image-lostvayne" />

 </div>
  <div class="follow text-center container" >
    <h3>Follow US</h3>
    <a href="https://www.linkedin.com/in/sarthak-bhatkar-197228191/">LinkedIn</a>
    <a href="https://github.com/sarthakbhatkar1">Github</a>
    <a href="https://www.instagram.com/_sarthak_bhatkar/">Instagram</a>
  </div>
</section>
