.home img
{
    width: 100%;
    height: 600px;
    object-position: center;
    object-fit: cover;
}

.home_content
{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.home_content h1
{
    color: #ffffff;
    font-size: 50px;
}

.home_content a
{
    margin-top: 10px;
}

@media screen and (max-width:600px)
{

    .home img
  {
    height: 700px;
  }
  .home_content h1
  {
      font-size: 40px;

  }

}
